body{
    font-family: 'Roboto', sans-serif;
}
.vh100{
    height:100vh;
}
.img{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
input[name=""]{
    color: #575757;     
}
.divaliados{
    text-align: left;
    margin: 2%;
    padding: 5%;
    margin-top: 5%;
    border-radius: 5px;
    color: black;
    text-decoration: none !important;
}
.form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 0.7rem !important;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.boton{
    display: block;
}

ul{
    margin: auto; 
    display: block; 
    margin-top: 30px;
}
ul li{ 
    list-style: none;
}
.activeState{
    
    background-color:#EE382A;
    color: white
}
.Invalid{
    margin: 0px;
    font-size: 12px;
}
.roundbutton {
    
    border-radius: 50%;
    color: #f5f5f5;
    background: #FFFFFF;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    padding-left: 1.3%;
    padding-top: 0.7%;
    padding-right: 1.3%;
    padding-bottom: 0.7%;
    border: 0px;
    margin-right: 6%;
    margin-left: 6%;    
}
.font-txt{
    
    font-size: 0.8em !important;
}

