<div class="container-fluid" ng-hide="showAliados">
    <h1 style="color:#E94130;margin-top: 4%;font-size: 3.3em;">Aliados</h1>
    <div>
        <div class="card overflow-auto" style="height: 75vh;">
            <div class="card-body">
                <table class="table table-striped text-center table-borderless">
                    <thead>
                        <tr>
                            <th style="width: 10%;padding: 0.5%;padding-bottom: 1%;" >
                                <input  type="text" class="form-control" id="usr" name="username" placeholder="Nombre">                               
                            </th>
                            <th style="width: 14%;padding: 0.5%;padding-bottom: 1%;">
                              <input type="text" class="form-control" id="usr" name="username" placeholder="Apellidos">
                            </th>
                            <th style="width: 12%;padding: 0.5%;padding-bottom: 1%;">
                              <input type="text" class="form-control" id="usr" name="username" placeholder="N°Documento">
                            </th>
                            <th style="width: 11%;padding: 0.5%;padding-bottom: 1%;">
                              <input type="text" class="form-control" id="usr" name="username" placeholder="Correo electrónico">
                            </th>
                            <th style="width: 9%;padding: 0.5%;padding-bottom: 1%;">
                                <input type="text" class="form-control" id="usr" name="username" placeholder="Empresa"> 
                            </th>
                            <th style="width: 11%;padding: 0.5%;padding-bottom: 1%;">
                              <select class="form-control"  name="nombre" style="font-size: 0.7em">
                                <option>Cargo</option>
                              </select> 
                            </th>
                            <th style="width: 11%;padding: 0.5%;padding-bottom: 1%;">
                              <select class="form-control"  name="nombre" style="font-size: 0.7em">
                                <option>Estado</option>
                              </select>  
                            </th>
                            <th  style="width: 24%;text-align: right;padding-right: 12PX;">
                                <a ng-click="showcrear()"  class="btn" style="background-color: #EF3829;color: white;font-size: 0.7em;width: 47%;">Crear Nuevo</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 0.7em;font-weight: bold;">
                        <tr ng-repeat="aliados  in aliados | orderBy:'nombres'|startFrom:currentPage*pageSize | limitTo:pageSize">
                            <td style="vertical-align: inherit;text-align:left;padding-left: 7px;padding-right: 1px;">{{aliados.nombres}}</td>
                            <td style="vertical-align: inherit;padding-left: 1px;padding-right: 1px;">{{aliados.apellido}}</td>
                            <td style="vertical-align: inherit;padding-left: 1px;padding-right: 1px;">{{aliados.documento}}</td>
                            <td style="vertical-align: inherit;padding-left: 1px;padding-right: 1px;">{{aliados.correo}}</td>
                            <td style="vertical-align: inherit;padding-left: 1px;padding-right: 1px;">{{aliados.empresa}}</td>
                            <td style="vertical-align: inherit;padding-left: 1px;padding-right: 1px;">{{aliados.cargo}}</td>
                            <td style="vertical-align: inherit;padding-left: 1px;padding-right: 1px;">inhabilitado</td>
                            <td style="text-align: right;padding-right:18px;padding-bottom: 0px;padding-top: 0px"><a ng-click="showedit()"><img  class="img-fluid" style="margin-top: 6px;margin-right: 5px;" src="img/editar.png"></a><a class="btn" style="background-color: black;color: white;font-size: 1em;width:42%;">Inhabilitar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>            
        </div>
        <div class="text-center p-3" style="font-weight: 400;">
            <button class="roundbutton" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                <img class="img-fluid" src="img/flechagris.png">
            </button >
                Página<span class="border rounded-sm p-2 pl-4 pr-4 ml-4 mr-3">{{currentPage+1}}</span>de {{numberOfPages()}}
            <button class="roundbutton" ng-disabled="currentPage >= getaliados().length/pageSize -1" ng-click="currentPage=currentPage+1">
                <img class="img-fluid" src="img/flecharoja.png">
            </button>
        </div>        
    </div>
</div>



    
<div ng-show="showAliados1" >
    <h1 style="color:#E94130;margin-top: 4%;font-size: 3.3em;">Crear nuevo aliado</h1>
        <div class="card">
            <div class="card-body">
                <h1 style="font-size: 1em;padding-left: 2.5%;font-weight: bold;">Información personal</h1>
                <form name="formu" ng-submit="Nuevo()" novalidate>
                    <div class="form-group row" style="padding-left: 6%;padding-right: 8%;margin-bottom: 5%;">
                        <div class="col-md-4">
                            <label  class="form-label mr-2 font-txt">Nombre(s)</label>
                            <input type="text" class="form-control"  class="form-control" name="nameU" placeholder="Ingresa tu nombre" ng-model="name" required>                            
                                <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>                            
                            <label  class="col-xs-3 col-form-label mr-2 font-txt">Correo electrónico</label>
                            <input type="email" class="form-control" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"  name="emailU" placeholder="Ingresa tu correo" ng-model="email" required>                            
                                <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio </p>
                                <p class="help-block text-danger Invalid" ng-show="formu.emailU.$error.pattern">Email invalido</p>                            
                        </div>
                    
                        <div class="col-md-4">
                            <label  class="form-label mr-2 font-txt">Apellidos(s)</label>
                            <input type="text" class="form-control"  name="lastnameU" placeholder="Ingresa tus apellidos" ng-model="lastname" required>                            
                                <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>                        
                            <label  class="col-xs-3 col-form-label mr-2 font-txt">Fecha de nacimiento</label>
                            <input type="date" class="form-control"  name="dateU" placeholder="Ingresa tu fecha de nacimiento" ng-model="date" required>                            
                                <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>                            
                        </div>
                    
                        <div class="col-md-4">
                            <label  class="form-label mr-2 font-txt">Número de documento</label>
                            <input type="number" class="form-control"  name="documentU" placeholder="Ingresa tu número de documento" ng-model="document" required>                            
                                <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>                            
                            <label  class="col-xs-3 col-form-label mr-2 font-txt">Lugar de nacimiento</label>
                            <input type="text" class="form-control"  name="placeU" placeholder="Ingresa tu dirección de nacimiento" ng-model="place" required>                            
                                <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>                            
                        </div>
                    </div>
                    <h1 style="font-size: 1em;padding-left: 2.5%;font-weight: bold;">Información laboral</h1>
                        <div class="form-group row" style="padding-left: 6%;padding-right: 8%;margin-bottom: 10%;">
                            <div class="col-md-4">
                                <label  class="form-label mr-2 font-txt">Empresa</label>
                                <input type="text" class="form-control"  name="companyU" placeholder="Ingresa una empresa" ng-model="company" required>                                
                                    <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>                            
                                <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Dirección área laboral</label>
                                <input type="text" class="form-control"  name="areaU" placeholder="Ingresa un área laboral" ng-model="area" required>                                
                                    <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>                            
                            </div>
                    
                            <div class="col-md-4">
                                <label for="first_name" class="form-label mr-2 font-txt">Cargo</label>
                                <input type="text" class="form-control"  name="cargoU" placeholder="Ingresa un cargo" ng-model="cargo" required>                               
                                    <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>                        
                                <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Región</label>
                                <input type="text" class="form-control"  name="regionU" placeholder="Ingresa una region" ng-model="region" required>                                
                                    <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>                               
                            </div>
                    
                            <div class="col-md-4">
                                <label for="first_name" class="form-label mr-2 font-txt">Gerencia</label>
                                <input type="text" class="form-control"  name="gerenciaU" placeholder="Ingresa una gerenciae" ng-model="gerencia" required>                                
                                    <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>
                                                
                                <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Tipo de vinculación</label>
                                <input type="text" class="form-control" name="vinculacionU" placeholder="Ingresa un tipo de vinculación" ng-model="vinculacion" required>                                
                                    <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>                                
                            </div>    
                        </div>
                    
                        <div class="boton text-center" style="margin-bottom: 3%;">
                            <button ng-click="cancelar()" type="button" class="btn" style="background-color: #474747;color: white;width: 15%;">Cancelar</button> &nbsp; &nbsp; &nbsp; &nbsp; 
                            <button   type="submit" class="btn" style="background-color: #EF3829;color: white;width: 15%;">Crear</button>  
                        </div>              
                </form>
            </div>    
        </div>    
</div>



<!---------------------------------------------------------EditarAliado------------------------------------------------------------------------>
<div ng-show="showAliados2">
    <h1 style="color:#E94130;margin-top: 4%;font-size: 3.3em;">Editar aliado</h1>
        <div class="card">
            <div class="card-body">
                <h1 style="font-size: 1em;padding-left: 2.5%;font-weight: bold;">Información personal</h1>
                <form action="">
                    <div class="form-group row" style="padding-left: 6%;padding-right: 8%;margin-bottom: 5%;">
                        <div class="col-md-4">
                            <label for="first_name" class="form-label mr-2 font-txt">Nombre(s)</label>
                            <input type="text" class="form-control"  placeholder="Ingresa tu nombre">
                        
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Correo electrónico</label>
                            <input type="text" class="form-control"  placeholder="Ingresa tu correo">
                        </div>
                    
                        <div class="col-md-4">
                            <label for="first_name" class="form-label mr-2 font-txt">Apellidos(s)</label>
                            <input type="text" class="form-control"  placeholder="Ingresa tus apellidos">
                        
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Fecha de nacimiento</label>
                            <input type="text" class="form-control"  placeholder="Ingresa tu fecha de nacimiento">
                        </div>
                    
                        <div class="col-md-4">
                            <label for="first_name" class="form-label mr-2 font-txt">Número de documento</label>
                            <input type="text" class="form-control"  placeholder="Ingresa tu número de documento">
                        
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Lugar de nacimiento</label>
                            <input type="text" class="form-control" placeholder="Ingresa tu dirección de nacimiento">
                        </div>
                    </div>
                    <h1 style="font-size: 1em;padding-left: 2.5%;font-weight: bold;">Información laboral</h1>
                        <div class="form-group row" style="padding-left: 6%;padding-right: 8%;margin-bottom: 10%;">
                            <div class="col-md-4">
                                <label for="first_name" class="form-label mr-2 font-txt">Empresa</label>
                                <input type="text" class="form-control"  placeholder="Ingresa una empresa">
                        
                                <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Dirección área laboral</label>
                                <input type="text" class="form-control"  placeholder="Ingresa un área laboral">
                            </div>
                    
                            <div class="col-md-4">
                                <label for="first_name" class="form-label mr-2 font-txt">Cargo</label>
                                <input type="text" class="form-control"  placeholder="Ingresa un cargo">
                        
                                <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Región</label>
                                <input type="text" class="form-control"  placeholder="Ingresa una region">
                            </div>
                    
                            <div class="col-md-4">
                                <label for="first_name" class="form-label mr-2 font-txt">Gerencia</label>
                                <input type="text" class="form-control"  placeholder="Ingresa una gerenciae">
                        
                                <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Tipo de vinculación</label>
                                <input type="text" class="form-control" placeholder="Ingresa un tipo de vinculación">
                            </div>    
                        </div>
                    
                        <div class="boton text-center" style="margin-bottom: 3%;">
                            <button ng-click="cancelar1()" type="submit" class="btn" style="background-color: #474747;color: white;width: 15%;">Cancelar</button> &nbsp; &nbsp; &nbsp; &nbsp; 
                            <button type="submit" class="btn" style="background-color: #EF3829;color: white;width: 15%;">Crear</button>
                        </div>    
                </form>
            </div>    
        </div>    
</div>

<!--------------------------------------------------------------------------Modal crear Aliado-------------------------------------------------------------------------------->

<div id="modalAliado" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 4%;">           
            <div class="modal-body">
                <div class="text-center pt-4 pb-4">
                    <img class="img-fluid" src="img/Claroteayuda.png">               
                </div>
                    <p class="text-center" style="font-size: 19px;line-height: 100%;color:#444444">El nuevo aliado ha sido creado<br>exitosamente.</p> 
                <div class="text-center pb-4 pt-4">
                    <button type="button" data-dismiss="modal" style="background-color: #EF3829;color: white;font-size:16px ;width: 35%;padding: 1.5%;border: 0px;border-radius: 5%;">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--------------------------------------------------------------------------Modal editar Aliado-------------------------------------------------------------------------------->

<div id="modaleditAliado" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 4%;">           
            <div class="modal-body">
                <div class="text-center pt-4 pb-4">
                    <img class="img-fluid" src="img/Claroteayuda.png">               
                </div>
                    <p class="text-center" style="font-size: 19px;line-height: 100%;color:#444444">Los datos del aliado han<br>sido guardados exitosamente</p> 
                <div class="text-center pb-4 pt-4">
                    <button type="button" data-dismiss="modal" style="background-color: #EF3829;color: white;font-size:16px ;width: 35%;padding: 1.5%;border: 0px;border-radius: 5%;">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>