<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 text-center vh100"  style="padding: 0%;background-color: #F1F1F1;background-image: url('img/barra.png');background-repeat: no-repeat;background-position: center bottom;background-size: contain;">
            <img class="img-fluid" src="img/Claroteayuda.png" style="width: 60%;margin-top: 15%">
                <p style="font-size: 1.5em;font-weight: bold;">Bienvenido</p>
            <img class="img-fluid" src="img/icon_foto.png" style="width: 38%;margin-bottom: 5%;">
            <div style="background-color: white;padding: 5%;font-weight: 600;">
                <p style="font-size: 1.2em;margin: 0px;">Maria Juana Herrera</p>
                <p style="font-size: 0.7em;margin: 0px;">juana.herrera@claro.com.co</p>
            </div>
            <ul style="text-align: left;margin-top: 10%;padding: 0px;"> 
                <li style="margin-bottom: 10%;"> <a ui-sref=".aliados" ui-sref-active="activeState" class="divaliados">Aliados<i class="fas fa-angle-right" style="padding-left: 69%;"></i></a> </li>
                <li><a ui-sref=".directos" ui-sref-active="activeState" class="divaliados">Directos<i class="fas fa-angle-right" style="padding-left: 68%;"></i></a></li>
            </ul>
            <div style="margin-top: 30%;margin-bottom: 12%">
                <a class="btn" ui-sref="logout" style="background-color: #414141;color:white;padding: 2%;padding-left: 5%;padding-right: 5%;border-radius: 8px;">Cerrar Sesión</a>
            </div>
        </div>
        <div class="col-md-9" style="">
            <div class="container">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>


       
    
