<div class="container-fluid" ng-hide="showDirectos">
    <h1 style="color:#E94130;margin-top: 4%;font-size: 3.3em;">Directos</h1>
    <div>
        <div class="card overflow-auto" style="height: 75vh;">
            <div class="card-body">
                <table class="table table-striped text-center table-borderless">
                    <thead>
                        <tr>
                            <th style="width: 10%;padding: 0.5%;padding-bottom: 1%;">
                                <input  type="text" class="form-control" id="usr" name="username" placeholder="Nombre">                               
                            </th>
                            <th style="width: 14%;padding: 0.5%;padding-bottom: 1%;">
                              <input type="text" class="form-control" id="usr" name="username" placeholder="Apellidos">
                            </th>
                            <th style="width: 12%;padding: 0.5%;padding-bottom: 1%;">
                              <input type="text" class="form-control" id="usr" name="username" placeholder="N°Documento">
                            </th>
                            <th style="width: 11%;padding: 0.5%;padding-bottom: 1%;">
                              <input type="text" class="form-control" id="usr" name="username" placeholder="Correo electrónico">
                            </th>
                            <th style="width: 9%;padding: 0.5%;padding-bottom: 1%;">
                              <input type="text" class="form-control" id="usr" name="username" placeholder="Empresa"> 
                            </th>
                            <th style="width: 11%;padding: 0.5%;padding-bottom: 1%;">
                              <select class="form-control"  name="nombre" style="font-size: 0.7em">
                                <option>Cargo</option>
                              </select> 
                            </th>
                            <th style="width: 11%;padding: 0.5%;padding-bottom: 1%;">
                              <select class="form-control"  name="nombre" style="font-size: 0.7em">
                                <option>Estado</option>
                              </select>  
                            </th>
                            
                            <th  style="width: 24%;text-align: right;padding-right: 12px;">
                                <a ng-click="showcrear()"  class="btn" style="background-color: #EF3829;color: white;font-size: 0.7em;width: 47%;">Crear Nuevo</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 0.7em;font-weight: bold;">
                      <tr ng-repeat="Directos  in Directos | orderBy:'nombre'|startFrom:currentPage*pageSize | limitTo:pageSize">
                        <td style="vertical-align: inherit;padding-left: 7px;padding-right: 1px;">{{Directos.nombre}}</td>
                        <td style="vertical-align: inherit;padding-left: 1px;padding-right: 1px;">{{Directos.apellido}}</td>
                        <td style="vertical-align: inherit;padding-left: 1px;padding-right: 1px;">{{Directos.cedula}}</td>
                        <td style="vertical-align: inherit;padding-left: 1px;padding-right: 1px;">{{Directos.correo}}</td>
                        <td style="vertical-align: inherit;padding-left: 1px;padding-right: 1px;">{{Directos.empresas}}</td>
                        <td style="vertical-align: inherit;padding-left: 1px;padding-right: 1px;">{{Directos.cargo}}</td>
                        <td style="vertical-align: inherit;padding-left: 1px;padding-right: 1px;">inhabilitado</td>
                        <td style="text-align: right;padding-right:18px;padding-bottom: 0px;padding-top: 0px"><a ng-click="showedit()"><img  class="img-fluid" style="margin-top: 6px;margin-right: 5px;" src="img/editar.png"></a><a class="btn" style="background-color: black;color: white;font-size: 1em;width:42%;">Inhabilitar</a></td>
                      </tr>
                    </tbody>
                </table>
            </div>    
        </div>
        
        <div class="text-center p-3" style="font-weight: 400;">
            <button class="roundbutton" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                <img class="img-fluid" src="img/flechagris.png">
            </button >
                Página<span class="border rounded-sm p-2 pl-4 pr-4 ml-4 mr-3">{{currentPage+1}}</span>de {{numberOfPages()}}
            <button class="roundbutton" ng-disabled="currentPage >= getDirectos().length/pageSize -1" ng-click="currentPage=currentPage+1">
                <img class="img-fluid" src="img/flecharoja.png">
            </button>
        </div> 
    </div>
</div>


    
<div ng-show="showDirectos1">
    <h1 style="color:#E94130;margin-top: 4%;font-size: 3.3em;">Crear nuevo Directo</h1>
        <div class="card">
            <div class="card-body">
                <h1 style="font-size: 1em;padding-left: 2.5%;font-weight: bold;margin-top: 1%;">Información personal</h1>
                <form name="formuD" ng-submit="NuevoDir()" novalidate>
                    <div class="form-group row" style="padding-left: 6%;padding-right: 8%;margin-bottom: 2%;">
                        <div class="col-md-4">
                            <label for="first_name" class="form-label mr-2 font-txt">Nombre(s)</label>
                            <input type="text" class="form-control"  name="nameD" placeholder="Ingresa tu nombre" ng-model="name" required>
                                <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Cédula</label>
                            <input type="number" class="form-control"  name="documentD" placeholder="Ingresa tu número de documento" ng-model="identification" required>
                                <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>
                        </div>
                    
                        <div class="col-md-4">
                            <label for="first_name" class="form-label mr-2 font-txt">Apellidos(s)</label>
                            <input type="text" class="form-control"  name="lastnameD" placeholder="Ingresa tus apellidos" ng-model="lastname" required>
                                <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Correo electrónico</label>
                            <input type="email" class="form-control" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" name="emailD" placeholder="Ingresa un correo" ng-model="email" required>
                                <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>
                                <p class="help-block text-danger Invalid" ng-show="formuD.emailD.$error.pattern">Email invalido</p>
                        </div>
                    
                        <div class="col-md-4">
                            <label for="first_name" class="form-label mr-2 font-txt">Edad</label>
                            <input type="number" class="form-control" name="edadD" placeholder="Ingresa la edad" ng-model="age" required>  
                                <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>
                        </div>
                    </div>
                    <h1 style="font-size: 1em;padding-left: 2.5%;font-weight: bold;">Información laboral</h1>
                        <div class="form-group row" style="padding-left: 6%;padding-right: 8%;margin-bottom: 6%;">
                            <div class="col-md-4">
                                <label for="first_name" class="form-label mr-2 font-txt">Empresa</label>
                                <input type="text" class="form-control"  name="companyD" placeholder="Ingresa una empresa" ng-model="company" required> 
                                    <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>
                                <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Dirección comité</label>
                                <input type="text" class="form-control"  name="directioncoD" placeholder="Ingresa la dirección de comité" ng-model="directionco" required>                              
                                    <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>                                
                                <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Sede</label>
                                <input type="text" class="form-control" name="sedeD" placeholder="Ingresa una sede" ng-model="quarters" required>                                
                                    <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>                                
                            </div>
                    
                            <div class="col-md-4">
                                <label for="first_name" class="form-label mr-2 font-txt">Cargo</label>
                                <input type="text" class="form-control"  name="cargoD" placeholder="Ingresa un cargo" ng-model="charge" required>                                
                                    <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>                        
                                <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Ciudad</label>
                                <input type="text" class="form-control"  name="cityD" placeholder="Ingresa una ciudad" ng-model="city" required>                                
                                    <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>                                
                                <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Fecha de ingreso</label>
                                <input type="date" class="form-control"  name="DateinD" placeholder="ingresa una fecha" ng-model="dateIn" required>                                
                                    <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>                                
                            </div>
                    
                            <div class="col-md-4">
                                <label for="first_name" class="form-label mr-2 font-txt">Gerencia</label>
                                <input type="text" class="form-control"  name="gerenciaD" placeholder="Ingresa una gerencia" ng-model="management" required>                                
                                    <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>                        
                                <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Región</label>
                                <input type="text" class="form-control"  name="regionD" placeholder="Ingresa una región" ng-model="area" required>                                
                                    <p class="help-block text-danger Invalid" ng-show="Invalid">Campo obligatorio</p>                                
                            </div>    
                        </div>                   
                        <div class="boton text-center" style="margin-bottom: 1%;">
                            <button ng-click="cancelar()" type="button" class="btn" style="background-color: #474747;color: white;width: 15%;">Cancelar</button> &nbsp; &nbsp; &nbsp; &nbsp; 
                            <button   type="submit" class="btn" style="background-color: #EF3829;color: white;width: 15%;">Crear</button>
                        </div>    
                </form>
            </div>    
        </div>    
</div>



<!---------------------------------------------------------EditarDirecto------------------------------------------------------------------------>

<div ng-show="showDirectos2">
    <h1 style="color:#E94130;margin-top: 4%;font-size: 3.3em;">Editar directo</h1>
    <div class="card">
        <div class="card-body">
            <h1 style="font-size: 1em;padding-left: 2.5%;font-weight: bold;">Información personal</h1>
            <form action="">
                <div class="form-group row" style="padding-left: 6%;padding-right: 8%;margin-bottom: 2%;">
                    <div class="col-md-4">
                        <label for="first_name" class="form-label mr-2 font-txt">Nombre(s)</label>
                        <input type="text" class="form-control"  placeholder="Ingresa tu nombre">
                        
                        <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Cédula</label>
                        <input type="text" class="form-control"  placeholder="Ingresa tu número de documento">
                    </div>
                    
                    <div class="col-md-4">
                        <label for="first_name" class="form-label mr-2 font-txt">Apellidos(s)</label>
                        <input type="text" class="form-control"  placeholder="Ingresa tus apellidos">
                        
                        <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Correo electrónico</label>
                        <input type="text" class="form-control"  placeholder="Ingresa un correo">
                    </div>
                    
                    <div class="col-md-4">
                        <label for="first_name" class="form-label mr-2 font-txt">Edad</label>
                        <input type="text" class="form-control"  placeholder="Ingresa la edad">                       
                    </div>
                    </div>
                    <h1 style="font-size: 1em;padding-left: 2.5%;font-weight: bold;">Información laboral</h1>
                    <div class="form-group row" style="padding-left: 6%;padding-right: 8%;margin-bottom: 6%;">
                        <div class="col-md-4">
                            <label for="first_name" class="form-label mr-2 font-txt">Empresa</label>
                            <input type="text" class="form-control"  placeholder="Ingresa una empresa">
                        
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Dirección comité</label>
                            <input type="text" class="form-control"  placeholder="Ingresa la dirección de comité">
                                
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Sede</label>
                            <input type="text" class="form-control"  placeholder="Ingresa una sede">
                        </div>
                    
                        <div class="col-md-4">
                            <label for="first_name" class="form-label mr-2 font-txt">Cargo</label>
                            <input type="text" class="form-control"  placeholder="Ingresa un cargo">
                        
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Ciudad</label>
                            <input type="text" class="form-control"  placeholder="Ingresa una ciudad">
                                
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Fecha de ingreso</label>
                            <input type="text" class="form-control"  placeholder="ingresa una fecha">
                        </div>
                    
                        <div class="col-md-4">
                            <label for="first_name" class="form-label mr-2 font-txt">Gerencia</label>
                            <input type="text" class="form-control"  placeholder="Ingresa una gerenciae">
                        
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Región</label>
                            <input type="text" class="form-control"  placeholder="Ingresa una región">
                        </div>    
                    </div>
                    
                    <div class="boton text-center" style="margin-bottom: 1%;">
                        <button ng-click="cancelar1()" type="submit" class="btn" style="background-color: #474747;color: white;width: 15%;">Cancelar</button> &nbsp; &nbsp; &nbsp; &nbsp; 
                        <button ng-click="open()" type="submit" class="btn" style="background-color: #EF3829;color: white;width: 15%;">Crear</button>
                    </div>    
            </form>
        </div>    
    </div>    
</div>

<!--------------------------------------------------------------------------Modal crear directo-------------------------------------------------------------------------------->

<div id="modalDirecto" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 4%;">           
            <div class="modal-body">
                <div class="text-center pt-4 pb-4">
                    <img class="img-fluid" src="img/Claroteayuda.png">               
                </div>
                    <p class="text-center" style="font-size: 19px;line-height: 100%;color:#444444">El nuevo directo ha sido creado<br>exitosamente.</p> 
                <div class="text-center pb-4 pt-4">
                    <button type="button" data-dismiss="modal" style="background-color: #EF3829;color: white;font-size:16px ;width: 35%;padding: 1.5%;border: 0px;border-radius: 5%;">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------------------------------Modal editar directo-------------------------------------------------------------------------------->

<div id="modaleditDirecto" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 4%;">           
            <div class="modal-body">
                <div class="text-center pt-4 pb-4">
                    <img class="img-fluid" src="img/Claroteayuda.png">               
                </div>
                    <p class="text-center" style="font-size: 19px;line-height: 100%;color:#444444">Los datos del directo han<br>sido guardados exitosamente</p> 
                <div class="text-center pb-4 pt-4">
                    <button type="button" data-dismiss="modal" style="background-color: #EF3829;color: white;font-size:16px ;width: 35%;padding: 1.5%;border: 0px;border-radius: 5%;">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>