<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 p-0">
            <div class="img" style="background-image: url('img/fondologin.png'); width:100%; height:100vh"></div>
        </div>
        <div class="col-md-6">
            <div class="logo text-center">
                <img src="img/clarologo.png" class="img-fluid" style="margin-top: 15%;">
            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="text-center" style="margin-top: 5%;">
                        <p style="color:#828282;font-size:15px">Ingresa tu correo electrónico y tu número de identificación.</p>
                    </div>
                    <div style="margin-top: 13%;">
                        <form  name="formLogin" ng-submit="validateForm()" >
                            <fieldset class="form-group">
                                <label for="correo">Correo Electrónico</label>
                                <input ng-pattern="re" type="text" name="user" ng-model="user" class="form-control" size="60" placeholder="micorreo@micorreo.com" id="correo" style="color: #575757;padding: .375rem .75rem;padding-left: 1.5rem;padding-top: 0.775rem;padding-bottom: 0.775rem;height: auto;">
                            </fieldset>
                            <span ng-show="formLogin.user.$error.pattern" class="fc-red text-sm-left"> 
                                Debe escribir un usuario valido!
                            </span>
    
                            <fieldset class="form-group">
                                <label for="contraseña">Contraseña</label>
                                <input type="password" name="pass" ng-model="pass" class="form-control" placeholder="Escribe tu contraseña" id="contraseña"  style="color: #575757;padding: .375rem .75rem;padding-left:1.5rem;padding-top: 0.775rem;padding-bottom: 0.775rem;height: auto;">
                                <span class="fc-red text-xs-left">El campo es requerido</span>
      
                            </fieldset>
                            <div class="text-center">
                                <p style="color:#828282;font-size:13px">Si requieres recuperar tu contraseña comunícate con el administrador</p>
                            </div>
                            <div class="text-center" style="margin-top:15%">                                 
                               <input type="submit"  name="login-submit" id="login-submit" class="form-control btn btn-login" value="Iniciar sesión" style="background-color: #EF3829;color: white;font-size: 1.1vw !important;width: 49%;">
                               <a ui-sref="dasboard">login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
